:root {
  --mian-bg:          hsl(228, 18%, 11%);
  --section-light-bg: hsl(0, 0%, 90%);
  --font-light-color: hsl(0, 0%, 90%);
  --font-dark-color:  hsl(0, 0%, 12%);
  --menu-bg-color:    hsla(228, 18%, 11%, 50%);
  --technologies-bg:  hsl(229, 22%, 20%);
  --menu-bottom-color:hsl(229, 19%, 17%);
}